<%- include('include/head.ejs') %>
  </head>

  <body>
    <%- include('include/header.ejs') %>
      <main>
        <section class="intro">
          <h2>Welcome to SRKTech</h2>
          <p>
            We provide high-quality software products including SDKs, libraries, and
            frameworks to meet your development needs.
          </p>
        </section>
        <section class="products">
          <h2>Our Products</h2>
          <div class="product-slider">
            <div class="product">
              <h3>
                Ecommerce
              </h3>
              <p>
                A Ecommerce SDK.
              </p>
            </div>
          </div>
        </section>
      </main>
      <%- include('include/footer.ejs') %>